In [20]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import scale
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn import metrics

In [21]:
# A) Read the dataset file "Credit.csv" (from github using the following command) # and assign it to a Pandas
# DataFrame
df = pd.read_csv('https://github.com/mpourhoma/CS4661/raw/master/Credit.csv')

In [22]:
# B) Check out the dataset. The "Credit" dataset includes the "balance" coloumn (average credit card debt for a
# numver of individuals) as target, as well as several features: age, cards(numver of credit cards), education
# (years of education), income (in thousands of dollars), limit (credit limit), marital statues, and rating (credit rating).
df

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
1    106.025   6645     483      3   82         15        1      903
2    104.593   7075     514      4   71         11        0      580
3    148.924   9504     681      3   36         11        0      964
4     55.882   4897     357      2   68         16        1      331
..       ...    ...     ...    ...  ...        ...      ...      ...
395   12.096   4100     307      3   32         13        1      560
396   13.364   3838     296      5   65         17        0      480
397   57.872   4171     321      5   67         12        1      138
398   37.728   2525     192      1   44         13        1        0
399   18.701   5524     415      5   64          7        0      966

[400 rows x 8 columns]

In [34]:
# C) Generate the feature matrix and target vector (target is 'balance' in this dataset). Then normalize (scale)
# the features (note: don't normalize the target vector!). To normalize the data, you can simply use scale(X)
# from sklearn
feature_matrix = ['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Married']
X = df[feature_matrix]
y = df['Balance']
X = scale(X)

In [35]:
# D) Split the dataset into testing and training sets with the following paramters: test_size=0.24, random_state=9
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=9)

In [39]:
# E) Use Linear Regression to train a linear model on the training set. Check the coefficients of the Linear
# Regression model. Which feature is the most important? Which feature is the least important?
linear_regression = LinearRegression()
linear_regression.fit(X_train, y_train)
print(linear_regression.coef_)
print('Limit feature is the most important')
print('Income feature is the least important.')

[-264.69553256  360.5601294   252.73642988   24.91707959  -17.23897686
   11.65810466   -9.82859046]
Limit feature is the most important
Income feature is the least important.

In [37]:
# F) Predict "balance" for the users in testing set. Then, compare the predicted balance with the actual balnce by
# calculating and reporting the RMSE (as we saw in lab tutorial 4).
y_prediction = linear_regression.predict(X_test)
mse = metrics.mean_squared_error(y_test, y_prediction)
rmse = np.sqrt(mse)
print(rmse)

143.24649739642265

In [38]:
# G) Now use 10-fold Cross-Validation to evaluate the performance of a linear regression in predicting the balance
# Thus, rather than splitting the dataset into testing and training, use Cross-Validation to evaluate the regression
# performance. What is the RMSE when you use cross validation?
mse_list = cross_val_score(linear_regression, X, y, cv = 10, scoring='neg_mean_squared_error')
mse_list_positive = -mse_list
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list.mean())

160.33198910744133